*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(151, 177, 200);
    text-align: center;
}
h1{
    background-color: rgb(32, 75, 112);
    color: #fff;
    padding: 20px 0px;
    
}
p{
    font-size: large;
}
section{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

input{
    display: block;
    text-align: center;
    padding: 7px 20px;
    border: 1px solid black;
    border-radius: 10px;
}
button{
    background-color: rgb(32, 75, 112);
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.2);
}